* /*nav*/ {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

/*nav*/
h6 {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.navbar {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  position: fixed;
  transition: 0.2s ease-in-out;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.nav-active {
  background-color: #fff;
  box-shadow: 5px -1px 12px -5px grey;
}

#navbar__logo {
  color: black;
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 900;
  padding-left: 20px;
  z-index: 99;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  font-weight: 700;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1px;
  background: #fec8d8;
  color: black;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #fec8d8;
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
  color: #fff;
  transition: all 0.3s ease;
}

/* hero */

.hero__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__heading {
  margin-top: 120px;
  margin-bottom: 10px;
  padding: 0px 20px;
  color: black;
  line-height: 70px;
  font-weight: 700;
  background-color: #fec8d8;
  border-radius: 1px;
}

.hero__img {
  border: #fec8d8 5px solid;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-top: 30px;
}

.hero__description {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  background-color: #fec8d8;
  border-radius: 1px;
  padding: 10px 20px;
  z-index: 1;
  font-style: italic;
}

/* bio */

.bio__container {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  margin: auto;
  margin-top: 200px;
  width: 80%;
  font-size: large;
  margin-bottom: 100px;
  gap: 50px;
}

.Bio__text {
  grid-row: 1;
  background-color: #fec8d8;
  text-align: justify;
  font-weight: 700;
  width: 500px;
  height: 600px;
  border-radius: 5px;
  padding: 50px 50px 50px 50px;
  line-height: 150%;
}

.bio__img {
  grid-row: 1;
  width: 500px;
  height: 600px;
  border: 5px solid #fec8d8;
  border-radius: 5px;
}

.music__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  padding-top: 150px;
}

.video {
  width: clamp(50vw, 60vw, 90vw);
  height: clamp(30vh, 60vh, 80vh);
}

.soundcloud {
  padding-top: 50px;
  width: clamp(50vw, 60vw, 90vw);
  height: clamp(30vh, 40vh, 80vh);
}

/* Intersection observer */

.inverse {
  animation: fadeIn 2s;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(+20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact__email {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  font-size: 24px;
  background-color: #fec8d8;
  padding: 50px 0px 0px 0px;
}
.email {
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  color: black;
}

.social {
  background-color: #fec8d8;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram {
  width: 40px;
}

.youtube {
  width: 50px;
}

.youtube,
.instagram {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.youtube:hover,
.instagram:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: black;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bio__container {
    display: flex;
    justify-content: center;
    margin-bottom: -40px;
  }

  .hero__heading,
  .hero__description {
    width: 80%;
  }

  .hero__img {
    width: 80%;
    height: 80%;
  }

  .bio__img {
    display: none;
  }
  .bio__container {
    width: 100%;
  }
  .Bio__text {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
  }

  .video {
    width: clamp(50vw, 80vw, 100vw);
    height: clamp(30vh, 60vh, 80vh);
  }

  .soundcloud {
    width: clamp(50vw, 80vw, 100vw);
    height: clamp(30vh, 40vh, 80vh);
  }

  .contact__email {
    align-self: center;
  }
}
